server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://avnadmin:AVNS_RmUISnzNB_PMNkoEtwO@mysql-233fd6ce-medicineservice.b.aivencloud.com:22179/defaultdb?ssl-mode=REQUIRED"
    username: "avnadmin"
    password: "AVNS_RmUISnzNB_PMNkoEtwO"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

jwt:
  signerKey: "8C/z/tPPB3uL03Ww61icr3zRDNau8qIkfxxogCiLgdxf3XmfDHJs7Id+CLU/D0Ew"
  valid-duration: 3600
  refreshable-duration: 360000
